@media(max-width: 1400px) {
    .header__menu {
        width: 67%;
    }

    .header__menu__list__item {
        margin: 0 8px;
    }

    .header__menu__list__link {
        font-size: 14px;
    }

    .hero__header {
        font-size: 42px;
    }

    .hero__items__item__imgWrapper {
        width: 80px;
        height: 80px;
    }

    .hero__items__item__img {
        width: 50%;
    }

    .hero__items__item__header {
        font-size: 17px;
        text-align: center;
    }

    .hero__items__item__text {
        font-size: 14px;
    }

    .hero__button {
        width: 30%;
        height: 50px;
        font-size: 17px;
    }

    .page-title,
    .entry-title,
    .section__header {
        font-size: 28px;
    }

    .section__text {
        font-size: 16px;
        max-width: clamp(200px, 90vw, 600px);
    }

    .section--ebooks {
        padding-top: 40px;
    }

    .section__ebooks__item__price,
    .section__ebooks__item__title {
        font-size: 18px;
    }

    .section__trainings__item__text,
    .section__ebooks__item__text {
        font-size: 13px;
    }

    .section__ebooks__item {
        width: 24%;
    }

    .section__trainings__item__imgWrapper {
        width: 200px;
        height: 148px;
    }

    .section__trainings__item__content {
        width: calc(100% - 220px);
    }

    .section__trainings__item__priceWrapper {
        font-size: 15px;
    }

    .section__trainings__item__btn {
        height: 40px;
        font-size: 15px;
    }

    .section__trainings__item {
        width: 49%;
        padding: 20px;
    }

    .aboutUs__header {
        font-size: 24px;
    }

    .aboutUs__text {
        font-size: 15px;
    }

    .aboutUs__btn {
        height: 50px;
        font-size: 18px;
    }

    .singleProduct__title, .singleProduct__price {
        font-size: 28px;
    }

    .singleProduct__header {
        font-size: 12px;
    }

    .singleProduct__header--keyValue,
    .singleProduct__desc {
        font-size: 14px !important;
    }

    .singleProduct__addToCart {
        height: 40px;
        font-size: 17px;
    }
}

@media(max-width: 1200px) {
    .woocommerce-order-overview__order {
        text-align: center;
    }

    .woocommerce-thankyou-order-details {
        flex-direction: column;
        margin: 20px auto;
    }

    .section__ebooks {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section__ebooks__item {
        width: 35%;
        margin: 20px;
    }

    .aboutUs__imgWrapper {
        width: 50%;
        height: auto;
    }

    .aboutUs__content {
        width: 45%;
    }

    .contact__main__header {
        font-size: 21px;
    }

    .contact__main__header__item {
        font-size: 15px;
    }

    .footer__col:last-of-type {
        flex-basis: 15%;
    }

    .footer__header {
        font-size: 14px;
    }

    .footer__link {
        font-size: 13px;
    }

    .header__menu__list__item {
        text-align: center;
    }

    .header__menu__list__link {
        font-size: 12px;
        text-align: center;
    }

    .header__logoWrapper {
        width: 100px;
        display: block;
    }

    .header__logoImg {
        width: 100%;
    }

    .header__menu {
        width: 73%;
    }

    .section__ebooks__item__imgWrapper {
        width: 100%;
        height: auto;
    }
}

@media(max-width: 996px) {
    .footer__col {
        width: 49%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-basis: 45% !important;
    }

    .footer__col * {
        text-align: center;
    }

    .footer__copyright {
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .footer__col__link {
        width: 75%;
    }

    .footer {
        padding-bottom: 50px;
    }

    .footer__header {
        margin-bottom: 10px;
    }

    .footer__col__text {
        margin-top: 0;
    }

    .footer__col__text:first-of-type {
        margin-bottom: 20px;
    }

    .section--aboutUs {
        flex-direction: column;
    }

    .aboutUs__imgWrapper, .aboutUs__content {
        width: 100%;
    }

    .aboutUs__imgWrapper {
        margin-bottom: 25px;
    }

    .section__trainings {
        flex-wrap: wrap;
    }

    .section__trainings__item {
        width: 100%;
        margin-bottom: 20px;
    }

    .section__trainings__item__btn {
        margin-top: 40px;
    }

    .section--aboutUs {
        padding-top: 30px;
    }

    .section__ebooks {
        justify-content: space-between;
    }

    .section__ebooks__item {
        width: 47%;
        margin-left: 0;
        margin-right: 0;
    }

    .hero__button {
        width: 48%;
    }

    .hero__header {
        font-size: 32px;
    }

    .hero__items__item__header {
        font-size: 16px;
        margin: 10px auto;
    }

    .singleProduct {
        flex-direction: column;
        max-width: 500px;
    }

    .singleProduct > * {
        width: 100%;
    }

    .singleProduct__imgWrapper {
        margin-bottom: 25px;
        height: auto;
    }

    .section--instruction {
        flex-direction: column;
    }

    .section__instruction__item {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media(max-width: 768px) {
    .d-desktop {
        display: none;
    }

    .d-mobile {
        display: block;
    }

    .section__instruction__number {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }

    .section__instruction__description {
        margin-left: 20px;
        width: calc(100% - 70px);
        font-size: 14px;
    }

    .contact__main__header {
        font-size: 17px;
        text-align: center;
    }

    .contact__main__header__item {
        font-size: 14px;
    }

    .page-title,
    .entry-title,
    .section__header {
        font-size: 24px;
    }

    .aboutUs__header {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .footer__col {
        width: 100%;
        flex-basis: 100% !important;
    }

    .footer__col:last-of-type {
        margin-bottom: 50px;
    }

    .footer__copyright {
        width: 85%;
    }

    .section__trainings {
        margin-top: 20px;
    }

    .section__trainings__item {
        flex-direction: column;
    }

    .section__trainings__item > * {
        width: 100%;
    }

    .section__trainings__item__imgWrapper {
        height: auto;
        margin-bottom: 20px;
    }

    .hero__header {
        font-size: 22px;
    }

    .hero__items__item__text {
        display: none;
    }

    .hero__buttons,
    .hero__items {
        flex-direction: column;
    }

    .hero__items {
        margin: 40px auto 10px;
    }

    .hero__items__item {
        width: 100%;
        max-width: 300px;
        margin-bottom: 30px;
    }

    .hero__button {
        margin-bottom: 0;
        width: 100%;
        max-width: 350px;
    }

    .singleProduct__firstLine {
        flex-direction: column;
        align-items: flex-start;
    }

    .singleProduct__price {
        margin-top: 10px;
        font-size: 17px;
    }

    .singleProduct__title {
        margin-right: 0;
    }

    .hero__header {
        margin-top: 25px;
    }

    .header {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .header__cart {
        font-size: 12px;
    }

    .hamburgerMenu {
        width: 30px;
        height: auto;
        background: transparent !important;
        border: none;
        outline: none;
        padding: 0;
    }

    .header__logoWrapper {
        width: 70px;
    }

    .header__cart {
        margin-left: -10vw;
        position: relative;
    }

    .header__cart .d-mobile {
        width: 16px;
        height: 16px;
        background: var(--orange);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color: #fff;
        position: absolute;
        bottom: -3px;
        right: -3px;
        border-radius: 50%;
    }

    .mobileMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #F6F6F6;
        transition: .4s all;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        z-index: -1;
    }

    .closeMenuBtn {
        background: transparent;
        padding: 0;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: auto;
    }

    .mobileMenu__logo {
        width: 170px;
        height: auto;
        margin-bottom: 30px;
        margin-top: -10vh;
    }

    .mobileMenu__list {
        margin-left: 0;
    }

    .mobileMenu__list__item {
        margin: 10px auto;
        padding: 10px 0 10px;
        text-align: center;
        border-bottom: 1px solid #DBDBDB;
    }

    .mobileMenu .header__cart {
        margin-left: 0;
        margin-top: 5vh;
    }

    .mobileMenu__list__link {
        font-size: 15px;
        color: #000;
    }

    .shop_table {
        overflow: visible;
    }

    .product-remove a,
    table, tbody {
        background-color: transparent !important;
    }

    table {
        border: none;
    }

    .shop_table tr {
        border: 1px solid #DBDBDB;
    }

    .cart_totals h2 {
        font-size: 21px;
    }

    .checkout-button {
        font-size: 17px !important;
    }

    .section__ebooks__item {
        min-height: auto;
    }

    .section__trainings__item__inner {
        flex-direction: column;
    }

    .section__trainings__item__content {
        width: 100%;
    }

    .section__trainings__item__imgWrapper {
        width: 100%;
        height: auto;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .singleProduct__price .woocommerce-Price-amount {
        font-size: 18px;
    }

    .section__ebooks {
        margin-top: 20px;
    }

    .section__trainings__item__priceWrapper {
        margin-top: 0;
    }

    .section--contact {
        padding-bottom: 30px;
    }

    .map {
        margin-bottom: 25px;
    }

    .footer__col__list {
        margin-bottom: 0;
    }

    .footer__copyright {
        bottom: 0;
    }

    .singleProduct {
        margin-top: 25px;
    }

    .single .section__ebooks {
        margin-top: 0 !important;
    }

    .wc_payment_method label {
        font-size: 14px !important;
        padding: 20px 10px !important;
    }

    .woocommerce-checkout .place-order {
        padding: 20px 0 !important;
    }

    .section {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .header, .singleProduct,
    .ebooks__crosssells .section__ebooks,
    .site-content {
        width: 90vw;
    }

    .footer__copyright {
        right: 5vw;
    }

    .wc_payment_method label {
        min-width: 260px !important;
        position: relative !important;
        width: 70vw !important;
    }

    #payment .payment_methods li img {
        position: absolute;
        top: 50%;
        right: -12vw;
        transform: translateY(-50%);
    }

    .section__header--secondary {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    .afterTrainings__main {
        max-width: 400px;
    }

    .afterTrainings__item {
        width: 100%;
        margin-bottom: 25px;
    }

    .afterTrainings__header {
        font-size: 16px;
        margin: 15px auto 3px;
    }

    .section__afterTrainings .section__header--small {
        font-size: 17px;
    }

    .backBtnWrapper {
        padding-left: 0;
    }

    .header {
        position: sticky;
        top: 0;
        left: 0;
        background: #f8f8f8;
    }
}

@media(max-width: 576px) {
    .aboutUs__btn {
        font-size: 15px;
    }

    .section__text {
        font-size: 14px;
    }

    .section__trainings__item__btn {
        margin-top: 15px;
    }

    .section__trainings,
    .section__ebooks {
        justify-content: center;
    }

    .section__trainings__item,
    .section__ebooks__item {
        width: 100%;
        max-width: 400px;
    }

    .singleProduct__title {
        font-size: 21px;
    }
}
